@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap');

body, html {
  background-color: #f5f5f5;
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  text-align: center;
}

div {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  padding-bottom: 10px;
}

#root, #app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  background-color: gray;
  height: 490px;
  width: 350px;
}

#brand {
  margin: 0;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  margin-right: 265px;
  margin-top: 4px;
  font-family: "Roboto";
}

#brand-text {
  margin: 0;
  color: white;
  font-weight: bolder;
  font-size: 12px;
  margin-right: 50px;
  margin-top: -16px;
}

#screen {
  background-color: #20231E;
  border: 25px solid #E0E3CF;
  height: 60px;
  width: 280px;
  margin-top: 10px;
  font-family: "Orbitron";
  text-align: right;
}

#screen-display {
  color: white;
  font-size: 35px;
  margin-right: 10px;
  line-height: 35px;
  margin-top: 14px;
}

.big-screen {
  width: fit-content !important;
  background-color: #20231E;
}

.button-container {  
  background-color: gray;
  height: 325px;
  width: 320px;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 65px 65px 65px 65px 65px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "AC AC square multiply"
    "seven eight nine divide"
    "four five six plus"
    "one two three minus"
    "zero dot equals equals";
}

.btn {
  border: 1px solid #303330;
  background-color: #4d4d4d;
}

.btn:hover {
  border: 2px solid lightgray;
  cursor: pointer;
}

.btn:active {
  transform: translateY(1px);
  border-radius: 5px;
}

.btn-label {
  color: white;
  font-size: 30px;
  line-height: 20px;
  margin-top: 21px;
  font-weight: bold;
}

.btn:hover .btn-label {
  color: black;
}

.AC { 
  grid-area: AC; 
  background-color: #d10000;
}

.equals { 
  grid-area: equals; 
  background-color: #506c0f;
}

.square { 
  grid-area: square;
  background-color: gray;
}

.multiply { 
  grid-area: multiply;
  background-color: gray;
}

.divide { 
  grid-area: divide;
  background-color: gray;
}

.plus { 
  grid-area: plus;
  background-color: gray;
}

.minus { 
  grid-area: minus;
  background-color: gray;
}

.zero { grid-area: zero; }

.dot { 
  grid-area: dot;
  background-color: gray;
}

.one { grid-area: one; }

.two { grid-area: two; }

.three { grid-area: three; }

.four { grid-area: four; }

.five { grid-area: five; }

.six { grid-area: six; }

.seven { grid-area: seven; }

.eight { grid-area: eight; }

.nine { grid-area: nine; }

#foot {
  margin-top: 30px;
}

#foot a {
  color: goldenrod;
}

#foot a:hover {
  color: darkgoldenrod;
}