@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
  background-color: #f5f5f5;
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

div {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

span {
  background-color: yellow;
}

textarea {
  margin: 0;
  padding: 0;
  width: 95%;
  min-height: 400px;
}

blockquote, pre {
  background-color: #ebecf0;
}

h1 {
  padding-bottom: 10px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#preview {
  max-width: 95%;
  min-height: 100px;
  min-width: 50%;
  text-align: left;
}

#preview-wrapper {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (min-width: 900px) {
  #content {
    flex-direction: row;
    align-items: stretch;
  }
  
  textarea {
    width: 50%;
  }
  
  #preview-wrapper {
    width: 50%;
  }
  

  
}