@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body,html, #root {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  text-align: center;
  margin: 0;
}

a {
  color: goldenrod;
}

#subtitle, #more, #credits {
  color: black;
  margin: 4px;
}

#subtitle a:hover, #more a:hover, #credits a:hover {
  color: darkgoldenrod;
}

#subtitle {
  margin-top: 0;
}

#credits {
  margin-bottom: 12px;
}

#foot {
  background-color: white;
  width: 100%;
  margin-bottom: 0;
}